<div class="container">
  <div class="row">
    <div class="span12">
      <h1 class="title">
        Our <span class="highlight orange">Collection</span>
      </h1>
      <h2 class="sub-title">
        Below are some of our collections.
      </h2>
    </div>
  </div>
</div>
  
<div class="container"> 
  <div class="portfolio clearfix">
    <div class="main row">
      <ul class="colections og-grid">
        <li class="col-xs-3 filter-web">
          <a href="/deeply_inlove" target="_blank"><h3>Deeply <span class="highlight orange">In Love</span> </h3></a>
          <a href="/deeply_inlove" target="_blank"><img src="assets/girl2.jpg"></a> 
        </li>
        <li class="col-xs-3 filter-web">
          <a href="/ninos" target="_blank"><h3>Kids <span class="highlight turquoise">Collection</span> </h3></a>
          <a href="/ninos" target="_blank"><img src="assets/kids/40044.jpg"></a>
        </li>
      </ul>
    </div> 
  </div>
</div>