<div class="deeply container">
  <div class="row">
    <div class="span12">
      <h1 class="title">
        Nuestra <span class="highlight orange">Colección</span>
      </h1>
      <h2 class="sub-title">
        A continuación se encuentran nuestras diferentes colecciones y sus descripciones. 
      </h2>
  </div>
  </div>
</div>

<div class="container"> 
  <div class="portfolio clearfix">
    <div class="main row">
      <ul class="colections og-grid">
        <li class="col-xs-3 filter-web">
          <a href="/profundamente_enamorada" target="_blank"><h3>Profundamente <span class="highlight orange">Enamorada</span> </h3></a>
          <a href="/profundamente_enamorada" target="_blank"><img src="assets/girl2.jpg"></a> 
        </li>
        <li class="col-xs-3 filter-web">
          <a href="/ninos" target="_blank"><h3>Colección <span class="highlight turquoise">Niños</span> </h3></a>
          <a href="/ninos" target="_blank"><img src="assets/kids/40044.jpg"></a>
        </li>
        <li class="col-xs-3 filter-web">
          <a href="/damas" target="_blank"><h3>Colección <span class="highlight blue">Damas</span> </h3></a>
          <a href="/damas" target="_blank"><img src="assets/girl1.jpg"></a>
        </li>
      </ul>
    </div> 
  </div>
</div>