
<%= render 'layouts/analytics' %>
<header class="slider">
  <div id="slider" class="carousel slide">
    <!-- Le Carousel Control -->
    <ul class="carousel-indicators">
      <li data-target="#slider" data-slide-to="0" class="active"></li>
      <li data-target="#slider" data-slide-to="1"></li>
      <li data-target="#slider" data-slide-to="2"></li>
    </ul>
    
    <div class="carousel-inner">
      <div class="item active">
        <img src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/9/92/92908/ggx1h1bzckwqo6sjespodoqom4aez21uzdqg5xe6atbqntjlmtcyj5eexyvpytsi-o.jpg?1396629939" alt="First slide image">
      </div>
      <div class="item">
        <img src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/7/74/74384/img_4340-o.jpg?1392309446" class="slider-photo" alt="First slide image">
      </div>
      <div class="item">
        <img src="https://d3ui957tjb5bqd.cloudfront.net/images/screenshots/products/7/74/74381/img_0650-o.jpg?1392309446" alt="First slide image">
      </div>
    </div>
  </div>
  <div class="overlay">
    <article>
      <img src="assets/5.png">
    </article>
  </div>
</header>

<!-- Le Navigation -->
<nav>
  <div class="container">
    <div class="row">
      <ul id="top-menu">
        <li class="col-sm-1 active"><a href="#top"><i class="fa fa-chevron-up"></i><span class="hidden">Top</span></a></li>
        <li class="col-sm-2"><a href="#whoiam">Quíenes Somos</a></li>
        <li class="col-sm-2"><a href="#whatido">Qué Hacemos</a></li>
        <li class="col-sm-2"><a href="#stuffimade">Catalogo</a></li>
        <li class="col-sm-2"><a href="#history">Historia</a></li>
        <li class="col-sm-2"><a href="#getintouch">Contactenos</a></li>
        <li class="col-sm-1"><a href="#social-bar"><i class="fa fa-chevron-down"></i><span class="hidden">Get Connected</span></a></li>
      </ul>
    </div>
  </div>
</nav>

<!-- Who I Am -->
<section id="whoiam">
  <div class="container">
    <h1 class="title">
      Quienes <span>Somos</span>
    </h1>
    <h2 class="sub-title">
      A creative thinker from the city that never sleeps, New York City. An influencial and passionate person in 
      the Adobe Fireworks community working to bring it success. Lover of music of all genre, language, tempo and age.
    </h2>
    
    <div class="row">
      <div class="span6 first">
        <h4 class="heading turquoise"><i class="fa fa-suitcase"></i> Nuestra <strong>Misión</strong>  </h4>
        <p>
          Assumenda neutra eiusmod keytar cosby sweater, narwhal gentrify elit mcsweeney's. Photo booth enim terry richardson, 
          beard neutra pickled incididunt cupidatat fap fugiat. Mollit fugiat eiusmod cray photo booth. Crafted beer fashion axe 
          elit disrupt est pour-over, gentrify minim.
        </p>
      </div>
      <div class="span6">
        <h4 class="heading blue"><i class="fa fa-eye"></i> Nuestra <strong>Visión</strong></h4>  
        <p>
          Assumenda neutra eiusmod keytar cosby sweater, narwhal gentrify elit mcsweeney's. Photo booth enim terry richardson, 
          beard neutra pickled incididunt cupidatat fap fugiat. Mollit fugiat eiusmod cray photo booth. Crafted beer fashion axe 
          elit disrupt est pour-over, gentrify minim.
        </p>
      </div>
    </div>
    
    <h3 class="heading orange"><i class="fa fa-users"></i> Somos una <strong>Familia</strong></h3>
    
    <div class="add-md-top">
      <p>
        Assumenda neutra eiusmod keytar cosby sweater, narwhal gentrify elit mcsweeney's. Photo booth enim terry richardson, 
        beard neutra pickled incididunt cupidatat fap fugiat. Mollit fugiat eiusmod cray photo booth. Crafted beer fashion axe 
        elit disrupt est pour-over, gentrify minim.
      </p>
      <p>
        Assumenda neutra eiusmod keytar cosby sweater, narwhal gentrify elit mcsweeney's. Photo booth enim terry richardson, 
        beard neutra pickled incididunt cupidatat fap fugiat. Mollit fugiat eiusmod cray photo booth. Crafted beer fashion axe 
        elit disrupt est pour-over, gentrify minim.
      </p>
    </div>
  </div>
</section>

<!-- What I Do -->
<section id="whatido" class="rotateInUpLeft">
  <div class="container">
    <h1 class="title">
        Que <span class="turquoise">Hacemos</span>
    </h1>
    <h2 class="sub-title">
        We are a full service digital agency from Earth. We design and build websites, applications, mobile solutions and other awesome digital media.
    </h2>
    
    <div class="row services">
        <div class="col-sm-4">
            <h2><i class="icon-picons-user-female"></i></h2>
            <h5>Ropa Para Mujer</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
        </div>
        <div class="col-sm-4">
            <h2><i class="icon-picons-scissors"></i></h2>
            <h5>Diseñamos</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
        </div>
        <div class="col-sm-4">
            <h2><i class="icon-picons-dollar-2"></i></h2>
            <h5>A tu Alcance</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In erat lorem, bibendum at dignissim.</p>
        </div>
    </div>
    
    <hr />
    <div class="midle-logo">
      <img src="assets/1.png">  
    </div>
    
  </div>
</section>

<!-- Stuff I Made -->
<section id="stuffimade" class="bounceIn">
  <div class="container">
    <div class="row">
      <div class="span12">
        <h1 class="title">
          Nuestro <span class="highlight orange">Catálogo</span>
        </h1>
        <h2 class="sub-title">
          A creative thinker from the city that never sleeps, New York City. An influencial and passionate person in 
          the Adobe Fireworks community working to bring it success.
        </h2>
    </div>
    </div>
  </div>
  
  <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <img src="">
      </div>
    </div>
  </div>
  <div class="container">
    <div class="portfolio clearfix">
      <div class="main row">
        <ul id="og-grid" class="og-grid">
          <li class="filter-web">
            <a href="" data-largesrc="assets/1.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/1.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/1.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-branding">
            <a href="" data-largesrc="assets/2.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/2.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/2.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-oil">
            <a href="" data-largesrc="assets/3.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/3.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/3.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-branding">
            <a href="" data-largesrc="assets/4.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/4.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/4.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-web">
            <a href="" data-largesrc="assets/5.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/5.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/5.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-branding">
            <a href="" data-largesrc="assets/6.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/6.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/6.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-oil">
            <a href="" data-largesrc="assets/7.jpg" data-title="Azuki bean" data-description="Swiss chard pumpkin bunya nuts maize plantain aubergine napa cabbage soko coriander sweet pepper water spinach winter purslane shallot tigernut lentil beetroot.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/7.jpg" alt="">
             </figure>
            </a>
            <button class="btn orange" data-source="assets/7.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-branding">
            <a href="" data-largesrc="assets/8.jpg" data-title="Veggies sunt bona vobis" data-description="Komatsuna prairie turnip wattle seed artichoke mustard horseradish taro rutabaga ricebean carrot black-eyed pea turnip greens beetroot yarrow watercress kombu.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/8.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/8.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
          <li class="filter-web">
            <a href="" data-largesrc="assets/9.jpg" data-title="Dandelion horseradish" data-description="Cabbage bamboo shoot broccoli rabe chickpea chard sea lettuce lettuce ricebean artichoke earthnut pea aubergine okra brussels sprout avocado tomato.">
              <figure>
                <div class="text-overlay">
                  <div class="info">Ver Descripción</div>
                </div>
                <img src="assets/9.jpg" alt="">
              </figure>
            </a>
            <button class="btn orange" data-source="assets/9.jpg" data-toggle="modal" data-target=".bs-example-modal-lg">Zoom</button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


<!-- History -->
<section id="history" class="rotateInUpLeft">
  <div class="container">
    <h1 class="title">
      Nuestra <span class="highlight orange">Historia</span>
    </h1>
  </div>
  <div class="container">
    <div class="col-sm-6">
      <aside>
        <h1 class="section-title text-center" ><i class="icon-picons-home-2"></i>
        ¿Cómo empezó?</h1>
        <p class="history-text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus.
        </p>
        <h1 class="section-title text-center" > <i class="icon-picons-earth"></i>
        ¿Hacia donde vamos?</h1>
        <p class="history-text">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. 
        </p>        
      </aside>
    </div>
    <div class="col-sm-6 map">
      <img src="assets/mapa.png">
    </div>
  </div>
  
</section>
<!-- How to Reach Me -->
<section id="getintouch" class="fadeInRightBig">
  <div class="container">
    <h1 class="title">
      Estemos en <span class="highlight orange">Contacto</span>
    </h1>
  </div>
  
  <div class="container">        
    <h2 class="sub-title">
      Use the form below to get a quick quote on a project or to simply say hello. I try to be promt and answer any emails within 48 hours. If you send a spam email, I respond with a creative answer.
    </h2>
    
    <div class="row">
      <div class="col-sm-8">
        <form class="contact">
          <div class="row">
            <div class="col-sm-6">
              <label class="required" for="name">
                  Tu Nombre
                  <input type="text" name="name" id="name" placeholder="John Stuart" required>
              </label>
            </div>
            <div class="col-sm-6">
              <label class="required" for="email">
                  Tu Correo
                  <input type="email" name="email" id="email" placeholder="John@Stuart.com" required>
              </label>
            </div>
          </div>
          <label class="required">
            Mensaje
            <textarea rows="7" placeholder="Tengo una idea para un proyecto..." required></textarea>
          </label>
          <div class="add-sm-top text-center">
            <button class="btn btn-danger" type="submit"><i class="fa fa-envelope"></i> &nbsp; ENVIAR COREO</button>
          </div>
        </form>
      </div>
      <div class="col-sm-4 contact-address">
        <h3 class="heading turquoise add-xs-top">Contáctenos</h3>
        <p>Katuski utade marido alifando. Lipsum dolor slo onsec tueraliquet Morbi nec In Curabitur lreaoreet nisl lorem in pellente pellente eget.</p>
        
        <h3 class="heading blue add-sm-top">Nuestra Empresa</h3>
        <address><abbr title="Address"><i class="fa fa-thumb-tack"></i></abbr>Catharsis Media Group<br />
                                        123 Some Street, New York, NY 12345</address>
        <address><abbr title="Phone"><i class="fa fa-phone"></i></abbr>1.718.456.7890</address>
        <address><abbr title="Fax"><i class="fa fa-print"></i></abbr>1.718.045.6789</address>
        <address><abbr title="Email"><i class="fa fa-envelope"></i></abbr>support@catharsis.com</address>
      </div>
    </div>
  </div>
</section>


<section id="social-bar">
  <div class="container">
    <div class="social-wrapper">
      <h2>Redes Sociales</h2>
      <div class="social" style="height: 80px;">
        <div><a href="#"><img src="assets/social/facebook.png" alt="Facebook"></a></div>
        <div><a href="#"><img src="assets/social/twitter.png" alt="Twitter"></a></div>
        <div><a href="#"><img src="assets/social/instagram.gif" alt="Instagram"></a></div>
        <div><a href="#"><img src="assets/social/youtube.png" alt="Youtube"></a></div>
      </div><a class="show-more" href="#" style="display: none;"></a>
    </div>
  </div>
</section>


