
// Header
.overlay {
	img{
		width: 70%;
	}
}

// Who I am
.span6 {
	float: left;
	width: 48%;
	margin-bottom: 2em;
	p{
		text-align: center;
	}
}
.span6.first{
	margin-right: 2%;
}

// What we do

.midle-logo{
	img{
		width: 40%;
		margin-left: 30%;
		margin-top: -2em;
	}
}
