
// Header
.overlay {
	img{
		width: 70%;
	}
}


// Who I am
.span6 {
	float: left;
	width: 48%;
	margin-bottom: 2em;
	p{
		text-align: center;
	}
}
.span6.first{
	margin-right: 2%;
}
.add-md-top {
	p{
		text-align: center;
	}
}
// What we do

.midle-logo{
	img{
		width: 40%;
		margin-left: 30%;
		margin-top: -2em;
	}
}

// my stuff

.modal-content {
	margin-top: 5em;
	text-align: center;
}
.portfolio{
	button.btn.orange{
		margin-top: 1em;
	}
	button.btn.orange:hover {
		color: white;
	}
}
// History

aside {
	text-align: center;
}

#history{
	background-color: white;
	padding-bottom: 4em !important;
	.section-title {
		color: #FF7E71;
		margin-top: 2em;
		margin-bottom: 1em;
		i {
			vertical-align: middle;
		}
	}
}
.map {
	text-align: center;
	img {
		margin-bottom: 2em;
		width: 60%;
	}
}

.history-text {
	width: 100%;
}
.more{
	display: none;
}

.phrase {
	color: #FF3366;
	display: block;
	float: left;
	font-size: 18px;
	text-align: center;
	width: 15em;
	.fa {
		font-size: 12px;
	}
}