<!DOCTYPE html>
<html lang="es">
<head>
  <title>SiomaraSierra</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">

  <!-- Le Mobile Specific Metas
    ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1">


  <!-- fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700' rel='stylesheet' type='text/css'>
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

  <!-- Le CSS
    ================================================== -->
  <link rel="stylesheet" href="assets/bootstrap.min.css">
  <link rel="stylesheet" href="assets/picons.css">
  <link rel="stylesheet" href="assets/style.css">

  <!-- Js -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="assets/modernizr.custom.js"></script>
  <script src="assets/bootstrap.min.js"></script>

  
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body id="top">

  <div id="widget">
    <div class="widget_container">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-md-offset-4">
            <% if current_page?('/') || current_page?('/es')  %>
              <a href="/en"><button id="en"  class="btn btn-lg orange">English </button></a>
            <% else %>
                <a href="/">
                <button id="es" class="btn btn-lg orange"> Español </button></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="toggle"><i class="fa fa-sort"></i></div> 
  </div>

  <%= yield %>

  <script src="assets/library.js"></script>
  <script src="assets/scripts.js"></script>
  <script>
    $(document).ready(function() {
      Grid.init();
    });
  </script>

</body>
</html>
